.boatsWrapper {
	padding: 7.5% 10%;
	color: white;

	.dateInput {
		display: flex;
		margin-bottom: 5%;
		padding: 2.5%;
		justify-content: space-between;
		gap: 4vw;
		label {
			display: flex;
			width: 100%;
			font-size: 1.5vw;
			color: rgb(213, 233, 252);
			align-items: center;
			justify-content: center;
		}

		input {
			display: block;
			font-size: 1.5vw;
			background-color: rgba(2, 60, 110, 0.407);
			color: rgb(213, 233, 252);
			padding: 1vh;
			border-radius: 1rem;
			border: 2px solid rgba(12, 70, 170, 0.691);
			backdrop-filter: blur(12px);
			margin-left: 2vw;

			&::placeholder {
				color: rgba(165, 207, 246, 0.888);
			}

			&:focus {
				outline: none;
			}
		}

		input[type='date'] {
			margin-top: 1vh;
			width: 70%;
		}
	}

	.boats {
		padding-block: 2.5%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 3vw;
		justify-content: center;
		place-items: center;
	}
	.addBoat {
		display: block;
		margin: 2vh auto;
		width: 30%;
		border-radius: 1rem;
		border: 2px solid rgb(19, 30, 235);
		font-size: 1.5vw;
		color: aliceblue;
		text-align: center;
		padding-block: 1vh;
		transition: all 300ms linear;
		&:hover {
			background-color: rgb(12, 18, 130);
			border: 2px solid rgb(197, 199, 244);
		}
	}
}
